/*Start MyDuties Style*/

.container-fluid .row .duty {
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: cursive;
}

.container-fluid .row .duty .download {
    margin-top: 6px;
    padding: 15px 10px;
}


/*End MyDuties Style*/