/*Start MyDuties Style*/

.container-fluid .row .duty {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-bottom: 4px;
    font-family: cursive;
}

.container-fluid .row .duty .download {
    margin-top: 10px;
    padding: 10px 0px;
    text-transform: capitalize;
}

.container-fluid .row .duty .taskInfo div .note span {
    padding: 4px 11px;
}


/*End MyDuties Style*/



/* Start Home page style  */

a:hover
{
	background-color: #1d289e;
	color:#fff;
}

.container .News .fa 
{
     color: #fff;
    padding: 3px;
    border-radius: 15px;
}


a {text-decoration: none;}
a:hover{text-decoration: none;}
}
  .News
 {
	background:#1d289e;
    padding: 3px;
    color:#fff;
 }


 /* End Home page style  */
